---
import ToolTip from "../common/ToolTip.svelte";
const {event, isFirst=false} = Astro.props;
---
<a href={event.url} class={`peer flex lpt:flex-row flex-col 
            lpt:gap-x-10 mt-4 rounded-2xl px-6 py-4 hover:text-light-on-primary-container
            hover:bg-light-primary-container/40 
            transition-all border-[1px]  hover:border-primary-60 
            ${(isFirst ? "border-2 border-primary-60" : "border-light-outline-variant")}`}
    >
    <div class="flex lpt-lg:flex-[1] xl:flex-[2] lpt:flex-[4] items-start lpt:flex-col flex-row-reverse gap-x-2  lpt:mb-0 mb-4 font-bold font-['Manrope']">
        <div class="font-bold text-lg text-primary-40">
            {event.time}
        </div>
        <div class="text-neutral-0 lpt-lg:text-4xl lpt:text-3xl text-2xl flex lpt:flex-col flex-row gap-2">
            <div class="">
                {`${event.date} ${event.month}`}
            </div>
            <div class="">{event.year}</div>
        </div>
    </div>
    <div class="flex lpt-lg:flex-[9] lpt:flex-[10] items-start flex-col gap-y-2">
        <h2 class="text-2xl font-bold font-['Manrope'] mb-2">{event.title}</h2>
        <div>{event.description}</div>
        <div class="flex my-2 gap-x-2">
            {event.speakers.map((speaker) => (
                <img class="rounded-full border-2 border-primary-40 w-8 h-8" src={speaker.imageUrl} alt={speaker.name}/>
            ))}
        </div>
        <div class="flex gap-x-2 items-center mt-2">
            <span class="material-symbols-rounded"> location_on </span>
            {event.venue}
        </div>
    </div>
</a>